/* html {
  backgroundColor:
    themePalette.palette.background,
}, */
pre {
	width: 100%;
	white-space: pre-wrap;
}
table {
	min-width: max-content;
	border-spacing: 1rem 0.5rem;
}

a {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}
